* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    font-family: 'Montserrat','Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    background: url(image/background-image2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
img {
    max-width: 50%;
    height: auto;
}
header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header .main-logo {
    position: relative;
}
header .main-navigations a{
    color: #FEFEFF;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    
}
header .main-navigations a:not(:last-child){
    margin-right: 30px;
}
header .main-navigations a:hover{
    background: rgb(2, 45, 56);
    /* transition-property: background; */
}
/* header section ends */
/* main content sections begins (including forms) */
.main-content {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.main-form {
    position: relative;
    left: 100%;
}
.main-form  label{
    margin: 5px;
}
.main-logo{
    position: relative;
    right: 10%;
}
.main-form .form-right {
    position: relative;
    right: 120%;
    bottom: 38px;
}
.main-form .form-left {
    position: relative;
}
.main-content {
    max-width: 650px;
    margin: 60px 100px;
}
.main-content .info h1{
    color: #171717;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 10px;
    margin-bottom: 30px;

}
.main-content .info p{
    color: #FEFEFF;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;

}
.main-content .info span{
    color: red;
    letter-spacing: 3px;
    line-height: 20px;
}
/* main-form2 starts */
.main-form2{
    position: absolute;
    top: 18em;
    left: 1%;
    /* margin-bottom: 25px; */
}
.main-form2 h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #171717;
}
.main-form2 li ul{
    color: #fd0000;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}
.main-form2 li ul a{
    color: rgb(32, 13, 207);
    margin-left: 5%;
}
/* main-form1 ends */
/* button section starts */
button {
    border: 3px 10px;
    border-radius: 5px;
    background-color: rgb(2, 45, 56);
    color: #FEFEFF;
    font-weight: bolder;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 20px;
    transition: 0.3s;
}
button:hover{
    background-color: #546d25;

}
.btn-sign-up {
    margin-top: 10px;
}
/* button section ends */

/* main0-socials starts */
.main-content .main-socials {
    position: relative;
    top: 15em;
    left: 50%;
    display: flex;
    margin: auto;
}
.main-content .main-socials a{
    position: relative;
    color: rgb(9, 33, 170);
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.main-content .main-socials a:hover{
    transform: scale(1.5);
}
.main-content .main-socials a:not(:last-child){
    margin-right: 60px;
}



/* responsiveness */

@media  screen and (max-width: 600px ){
    img {
        width: 100%;
        height: 50%;
        zoom: 1;
        position: relative;
        right: 30%;
    }
    header .main-navigations a {
        display: flex;
    }
    .main-content .info h1{
        font-size: 20px;
        line-height: 3px;
        margin-bottom: 15px;
    }
    .main-content .info span {
        letter-spacing: 5px;
        line-height: 10px;
    }
    .main-form {
        position: relative;
        left: 250px;
    }
    .main-form .form-left {
        position: relative;
        top: 150px;
        right: 60%;
        margin-bottom: 10px;
        /* margin-top: 10px; */
    }
    .main-form .form-right {
        position: relative;
        right: 60%;
        bottom: 38px;
        margin-bottom: 10px;
    }
    button{
        position: relative;
        top: 50%;
        margin: 10px 0;
        right: 50%;
    }
    .main-content .main-socials a{
        position: relative;
        font-size: 17.5px;
        right: 100%;
        margin-top: 50px;
    }
    
}
/* @media  screen and (max-width: 768px){
    .main-content .info h1{
        font-size: 25px;
         line-height: 5px;
        margin-bottom: 15px; 
    }
    .main-content .info span {
        letter-spacing: 5px;
        line-height: 10px;
    }

} */


















