*{
    margin: 0;
    padding: 0;
}
.main {
    position: absolute;
    right: 40%;

}
header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: blueviolet;
}
    
img {
    z-index: 1;
    height: 100vh;
    width: 100%;
    
}